 
    <%- include('./includes/navbar.ejs') %>
    <h1><%= header %></h1>
    <form method="post">
      <input type="text" name="name" />
      <input type="text" name="email" />
      <input type="text" name="address" />
      <input type="submit" value="contact us" />
    </form>
    <%- include('./includes/footer.ejs') %>
  </body>
</html>
