 
    <%- include('./includes/navbar.ejs') %>
    <h1 class="text-center"><%= header %></h1>
    <p>view my photo <img width="200" src="/images/img3.jpg" alt="" /></p>
    <%- include('./includes/footer.ejs') %>
  </body>
</html>
